<div class="container-fluid">
    <div class="loginsignup-container">
       
        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <!-- <h2 style="color: #009688;">LOGIN</h2> -->
            <div class="header-container d-flex align-items-center mb-3">
                <!-- <i class="bi bi-arrow-left-circle" (click)="goBack()"></i> Bootstrap icon for back arrow -->
                <h2 class="text-center flex-grow-1" style="color: #009688; margin: 0;">LOGIN</h2>
                <div class="me-auto"></div> <!-- Filler to balance the alignment -->
            </div>
            <div class="form-group">
                <label for="username">Username :</label>
                <input type="text" formControlName="userName" class="form-control" id="userName"
                    placeholder="Enter Username" minlength="5" maxlength="20" required>
                <div *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched"
                    class="text-danger">
                    <small *ngIf="loginForm.get('userName')?.errors?.['required']">Username is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Password" minlength="6" maxlength="20" required>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-danger">
                    <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
                </div>
            </div>
            

            <button type="submit" class="btn btn-primary" (keyup)="onLoginSubmit()">Login</button>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p (click)="toggleForm('register')">Don't Have an Account? <span
                            class="highlighted"><b>Register</b></span></p>
                </div>
                <div class="col-md-6 mb-3">
                    <p (click)="toggleForm('forgetpassword')">Forget Password? <span class="highlighted"><b>Forget
                                Password</b></span></p>
                </div>
            </div>

        </form>

      
    </div>
</div>

@if(isLoading){
<div class="loader-backdrop">
    <div class="loader"></div>
</div>
}