<div class="modal" *ngIf="isModalVisible" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-content" style="background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 400px; position: relative;">
        <span class="close" (click)="onCancel()" style="position: absolute; top: 10px; right: 10px; font-size: 24px; cursor: pointer;">×</span>
        <form [formGroup]="changeForm" (ngSubmit)="onSave()">
            <h3 style="text-align: center; margin-bottom: 20px;">Change Password</h3>
            <div class="form-group">
                <label for="password" style="font-weight: bold;">New Password :</label>
                <input type="password" formControlName="newpassword" class="form-control" id="password" placeholder="Password" minlength="6" maxlength="20" required style="border: 1px solid #ced4da; border-radius: 4px; padding: 10px; font-size: 14px;">
                <div *ngIf="changeForm.get('newpassword')?.invalid && changeForm.get('newpassword')?.touched" class="text-danger">
                    <small *ngIf="changeForm.get('newpassword')?.errors?.['required']">Password is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmpassword" style="font-weight: bold;">Confirm Password :</label>
                <div class="input-group">
                    <input type="password" formControlName="confirmpassword" class="form-control" id="confirmpassword" placeholder="Password" minlength="6" maxlength="20" required [type]="showPassword ? 'text' : 'password'" style="border: 1px solid #ced4da; border-radius: 4px; padding: 10px; font-size: 14px; flex: 1;">
                    <div class="input-group-append" style="display: flex; align-items: center;">
                        <span class="input-group-text" (click)="togglePasswordVisibility()" style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 4px; padding: 10px; cursor: pointer;">
                            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" style="font-size: 18px;"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf="changeForm.get('confirmpassword')?.invalid && changeForm.get('confirmpassword')?.touched" class="text-danger">
                    <small *ngIf="changeForm.get('confirmpassword')?.errors?.['required']">Confirm Password is required.</small>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="background-color: #007bff; color: white; border: none; padding: 10px 20px; border-radius: 4px; cursor: pointer; font-size: 16px; width: 100%; margin-top: 20px;" (keyup)="onSave()">Update</button>
        </form>
    </div>
</div>
