<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
      <span class="close" (click)="onCancel()">×</span>
      <form [formGroup]="changeForm" (ngSubmit)="onSave()">
        <h3 class="modal-title">Change Password</h3>
  
        <!-- New Password Field -->
        <div class="form-group">
          <label for="password">New Password:</label>
          <div class="input-group">
            <input
              formControlName="newpassword"
              class="form-control"
              id="password"
              placeholder="Password"
              minlength="6"
              maxlength="20"
              required
              [type]="showPassword ? 'text' : 'password'"
            />
            <span
              class="input-group-text"
              (click)="togglePasswordVisibility()"
            >
              <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </div>
          <div
            *ngIf="changeForm.get('newpassword')?.invalid && changeForm.get('newpassword')?.touched"
            class="error-text"
          >
            <small *ngIf="changeForm.get('newpassword')?.errors?.['required']">
              Password is required.
            </small>
          </div>
        </div>
  
        <!-- Confirm Password Field -->
        <div class="form-group">
          <label for="confirmpassword">Confirm Password:</label>
          <div class="input-group">
            <input
              formControlName="confirmpassword"
              class="form-control"
              id="confirmpassword"
              placeholder="Password"
              minlength="6"
              maxlength="20"
              required
              [type]="showPassword ? 'text' : 'password'"
            />
            <span
              class="input-group-text"
              (click)="togglePasswordVisibility()"
            >
              <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </div>
          <div
            *ngIf="changeForm.get('confirmpassword')?.invalid && changeForm.get('confirmpassword')?.touched"
            class="error-text"
          >
            <small *ngIf="changeForm.get('confirmpassword')?.errors?.['required']">
              Confirm Password is required.
            </small>
          </div>
        </div>
  
        <!-- Submit Button -->
        <button
          type="submit"
          class="btn-submit"
          (keyup)="onSave()"
        >
          Update
        </button>
      </form>
    </div>
  </div>
  