<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <!-- Brand Name -->
      <a class="navbar-brand">Movies</a>
  
      <!-- Navbar toggler for responsive view -->
     
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" (click)='OnHome()'>Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link logout-link" (click)='Logout()'>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>