<div class="container my-5" *ngIf="allow" >
    <h1 class="text-center mb-4">Product Dashboard</h1>
    <div class="row">
        <!-- Product Card -->
        <div class="col-md-3 mb-3" *ngFor="let product of products">
            <div class="product-card">
                <!-- Product Image -->
                <div>
                    
                    <!-- <img src="`${apiUrl}${product.productImagePath}`"/> -->
                    <!-- <img src="{{apiUrl+product.productImagePath}}"/> -->
                    <img src="{{apiUrl+product.productImagePath|| 'https://via.placeholder.com/200?text=No+Image' }}"
                        alt="{{ product.name }}" class="img-fluid product-image"
                        *ngIf="product.productImagePath; else defaultImg">
                    <ng-template #defaultImg>
                        <div class="default-image">No Image</div>
                    </ng-template>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <p class="card-text text-muted">{{ product.brand }}</p>
                    <p class="price">{{ product.sellingPrice |currency:"INR"}}</p>
                    
                    <button class="add-to-cart" (click)="addToCart(product)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>